<h1>About</h1>
<p>
	<%= link_to "one Month Rails", "http://onemonthrails.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http:onemonthrails.com" %> application.
</p>
<p>
	<%= link_to "Sign Up Now!", "#" %>